html *
{
   font-family: $font-family-sans-serif;
  color: $gray-base;
}


.navbar-header , .navbar-nav{
	float :none;
	height:auto;
}

.navbar{
	margin-bottom:0px;
	.navbar-collapse{
		display:none !important;
	}
}

.navbar-header {
  width: 100%;
  height: auto;
  float:left;
}
.mobile-subscr{
	display:none;
}

.navbar-nav > li { 
		&:last-child {
			float: right;
		    border-radius: 3px;
		    background-color: $white;
		    border: solid 1px $white;
		    color: $gray-base;
        	margin-top: 20px;
    		position: relative;
		    a{
		    	color: $gray-base;
    			text-transform: initial;
    			padding: 10px;
		    }
 
		}
	a {
	padding: 30px 15px 30px 50px;
    font-size: 18px;
    font-family: SegoeUI-Semilight;	
	} 
}

a.logo{
	width: 113px;
	height: 70px;
}


.homepage-slider-block {
    width: 100%;
    //margin: 20px 154px;
    padding: 58px 0px 0px 200px;
    text-transform: capitalize;
    .form-group{
		.view-slider{
			.view-content{
		       	text-align: center;
		   		width: 100%;
		    	
		    	p {
					color : $btn-primary-color;
				}
				.views_slideshow_cycle_teaser_section{
					margin:auto;
					background-color:$gray-dark;
					.views_slideshow_slide {
						margin:auto;
						background-color:$gray-dark;
					}
				}
	       }
	       .bos365-slider-container{


				.speaker-logo-align{
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

				}

	       		.session-title{
	       			font-family: $font-family-sans-serif;
					font-size: 32px;
					font-weight: 300;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: -0.8px;
					text-align: center;
					color: #ffffff;
	       		}

	       		.slider-speaker{
		       		text-align:left;
		       		float:left;
		       		padding:20px;
			       .label{
						font-family: $font-family-sans-serif;
						font-size: 13px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: -0.3px;
						text-align: left;
						color: #ffffff;
						text-transform:uppercase;
						padding:5px;
			       	} 
			       	.title{
			 			font-family: $font-family-sans-serif;
						font-size: 20px;
						font-weight: 300;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: -0.5px;
						text-align: left;
						color: #ffffff;
						padding:5px;
					}
		       	}
		       	.slider-sponsor-logo{
					width: 150px;
					height: 80px;
					background-color: #ffffff;
					border: solid 1px #ffffff;
					float:left;

					img{
						height: 24.9px;
						margin-top:28px;
					}

				}
				.slider-more-details {
					width: 180px;
					height: 50px;
					border-radius: 3px;
					border: solid 1px #ffffff;
					margin: auto;
					padding-top:10px;
					padding-bottom:13px;

					a{
						color: #ffff;
						display: block;
						text-align: center;
					}
				}
	       }
	       

	       /* 	.views-field-title{
	       		float: left;
    			text-align: left;
    			display:block;
    			padding:20px;
	       	} */
		}
	}
}

