.header-wrapper{
    margin-bottom: 20px;

    .has-hero {
        height: 425px;
    
        .navbar-header {
            height: 425px;
        }
    }

    .no-hero {
        background-color: $gray-base;
    }

    h1, h3{
        letter-spacing: -0.8px;
        text-align: center;
        color: $gray-lighter;
        text-transform: none;
        margin-left: 150px;
        margin-right: 150px;
        
        @media #{$mobile}{
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    h1{
        font-size: 32px;
        padding-top:100px;
        
        @media #{$mobile}{
            padding: 10px;
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;
    }
    
    .button {
        margin-top:60px;
        text-align:center;
        a{
           @extend %white-link-button;
        }
        @media #{$mobile}{
            margin-top: 45px;
        }
    }

    .headerHero {
        @media #{$mobile}{
            margin-top: 95px;
        }
    }
}

.homepage-slider-block {
    text-transform: capitalize;
    
	.view-slider {
        margin-top:100px;

        .view-content{
	       	text-align: center;
            width: 100%;
		    	
		    p {
                color : $btn-primary-color;
            }
            .views_slideshow_cycle_teaser_section{
                margin:auto;

                .views_slideshow_slide {
                        margin:auto;

                }
            }
        }
        .bos365-slider-container{
            //width: 1350px; 
            
            .speaker-logo-align{	
                margin-top: 46px;
                margin-left: -100px;
                margin-right: -100px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media #{$mobile}{
                    margin-top: 30px;
                    margin-left: 0;
                    margin-right: 0;
                } 
            }

            .session-title{
                font-family: $font-family-segoe;
                font-size: 32px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.8px;
                text-align: center;
                color: $white;
                padding-left: 200px;
                padding-right: 200px;
                @media #{$mobile}{
                    font-size: 24px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }

            .slider-speaker{
                text-align:center;
                padding: 0px 20px;
                display: inline-block;
                width: 250px;
                height: 80px;
                @media #{$mobile}{
                    width: 50%;
                }
                .label{
                    font-family: $font-family-segoe;
                    font-size: 13px;
                    font-weight: bold;
                    letter-spacing: -0.3px;
                    text-align: center;
                    color: $white;
                    text-transform:uppercase;
                    padding:5px;
                } 
                .title{
                    font-family: $font-family-segoe;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: -0.5px;
                    text-align: center;
                    color: $white;
                    padding:5px;
                    @media #{$mobile}{
                        font-size: 16px;
                    }
                }
            }
            .slider-sponsor-logo{
                @extend %sponsor-tile;
                height: 80px;
            }
            .slider-more-details {
                margin: auto;
                padding-top:10px;
                padding-bottom:13px;
                a{
                    @extend %white-link-button;
                }
            }
        }
    }
}

