html *
{
   font-family: $font-family-segoe;
  color: $gray-base;
}


.navbar-header , .navbar-nav{
	float :none;
	height:auto;
}



.navbar{
	margin-bottom:0px;
	.navbar-collapse{
		display:none !important;
	}
}

.navbar-header {
  width: 100%;
  height: 425px;
  float:left;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  .region-navigation{
    padding: 32px 80px 0px 80px;
  }
}
.mobile-subscr{
	display:none;
}

.navbar-nav > li { 
    &:last-child {
        float: right;
        border-radius: 3px;
        background-color: $white;
        border: solid 1px $white;
        color: $gray-base;
        margin-top: 20px;
        position: relative;
            a{
                color: $gray-base;
                text-transform: initial;
                padding: 10px;
            }

    }
    a {
        padding: 30px 15px 15px 50px;
        font-size: 18px;
    } 
}

a.logo{
	width: 113px;
	height: 70px;
}

.header-background {
 /* width: 1440px;*/
  height: 427px;
  background : url(../images/hero-3.jpg);
}

.homepage-slider-block {
    
    text-transform: capitalize;
    
    .form-group{
	.view-slider{
        margin-top:35px;

        .view-content{
	       	text-align: center;
                width: 100%;

		    	
		p {
                    color : $btn-primary-color;
                }
                .views_slideshow_cycle_teaser_section{
                    margin:auto;

                    .views_slideshow_slide {
                            margin:auto;

                    }
                }
            }
            .bos365-slider-container{


                .speaker-logo-align{					
                    justify-content: center;
                    align-items: center;
                    margin-top: 46px;
                    margin-left: -100px;
                    margin-right: -100px;
                }

                .session-title{
                    font-family: $font-family-segoe;
                    font-size: 32px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    text-align: center;
                    color: $white;
                }

                .slider-speaker{
                    text-align:center;
                    padding: 0px 20px;
                    display: inline-block;
                    width: 250px;
                    height: 80px;
                   .label{
                        font-family: $font-family-segoe;
                        font-size: 13px;
                        font-weight: bold;
                        letter-spacing: -0.3px;
                        text-align: center;
                        color: $white;
                        text-transform:uppercase;
                        padding:5px;
                    } 
                    .title{
                        font-family: $font-family-segoe;
                        font-size: 20px;
                        font-weight: 300;
                        letter-spacing: -0.5px;
                        text-align: center;
                        color: $white;
                        padding:5px;
                    }
                }
                .slider-sponsor-logo{
                    height: 80px;
                    background-color: #ffffff;
                    display: inline-block;
                    width: 250px;
                    padding-top: 10px;

                    img {
                        margin:auto;
                    }

                }
                .slider-more-details {
                    width: 180px;
                    height: 50px;
                    border-radius: 3px;
                    border: solid 1px $white;
                    margin: auto;
                    padding-top:10px;
                    padding-bottom:13px;

                    a{
                        color: $white;
                        display: block;
                        text-align: center;
                    }
                }
            }
	       

        /* 	.views-field-title{
                 float: left;
                 text-align: left;
                 display:block;
                 padding:20px;
         } */
        }
    }
}

.hero-banner-home{
    img {
        position:absolute;
        width:100vw;
        left:0px;
        top:0px;
        z-index:-1;
        min-height:425px;
        height:auto;
    }
}
.hero-banner{
    height:250px;
    
    .slogan-1, .slogan-1 p{
        font-family: $font-family-segoe;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: -0.8px;
        text-align: center;
        color: $gray-lighter;
        text-transform: none;
    }
    .slogan-2, .slogan-2 p{
        font-family: $font-family-segoe;
        font-size: 18px;
        font-weight: 300;
        line-height: 2.22;
        text-align: center;
        color: $gray-lighter;
        text-transform: none;
    }
    
    .hero-link {
        margin-top:30px;
        text-align:center;
        a{
            border-radius: 3px;
            border: solid 1px $gray-lighter;
            padding:10px;
            color:$gray-lighter;
            text-decoration: none;
            text-transform: none;
        }
    }
}

.hero-banner-blank{
    margin-top: -100px !important;
    margin-left: -120px !important;
    height: 100px !important;
    width:100vw;
}