html *
{
   font-family: $font-family-segoe;
  color: $gray-base;
}

.main-container{

    #block-ourmission {
        margin-top: 15px;
        text-align :center;
        padding-bottom: 50px;
        border-bottom: 1px solid $brand-secondary;
        background-color: $close-text-shadow;
    }

    #block-ourmission h2 {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: #666666;
    }

    .our-mission-text{
	    font-size: 34px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.94;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    .our-mission-text-first{
	font-size: 18px;
        font-weight: 300;
        line-height: 1.78;
        text-align: center;
        color: #000000;
    }

    .block-views-blockorganisers-block-1 h2, .block-views-blocksponsors-block-1 h2{
        font-size: 34px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #666666;
        margin-top:33px;
        margin-bottom: 5px;
    }

    .views-element-container.form-group {
        display: none;
    }


    .block-views-blockorganisers-block-1 {
        background-color: $brand-secondary;
        margin-top: 20px;
    }
    .block-views-blocksponsors-block-1  ,  .block-views-blockorganisers-block-1{
        padding-bottom: 20px;
        text-align:center;
        .form-group{
            width: 100%;
            .view-sponsors , .view-organisers{
                 margin: 10px 20px;
                 .view-content{
                     display:inline-block;
                 }
             }

             .view-sponsors{
                 .more-link.form-group
                 {
                     margin-top: 13px;
                     a{
                         @extend %blue-link-button;
                     }
                 }

                 .views-view-grid .views-col{
                     float: left;
                     width: auto !important;
                     margin: 20px;

                     .views-field .field-content{
                         @extend %sponsor-tile;
                     }
                 }
             }

             .view-organisers{
                 .views-view-grid .views-col{
                     float: left;
                     width: auto !important;
                     margin: 15px 25px;
                     padding: 0px 25px;
                     .views-field-field-photo{
                         width: 135px;
                         height:135px
                     }

                     .views-field-field-job-title{
                         width: auto;
                     }

                     .field-content{
                         font-size: 20px;
                         font-weight: 300;
                         text-align: center;
                         color: $close-color;
                         padding: 10px;
                     }

                     .views-field-field-company-logo{
                         .field-content{
                             width: 130px;
                             img{
                                 display:inline-block;
                             }
                         }
                     } 
                 }
             }	
        } 
    }
}