.sponsor-det-latest{
    .header{
        font-family: $font-family-segoe;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: #666666;
        margin: 20px 0px 20px 0px;
    }

    .details{
        border-radius: 6px;
        border: solid 1px #cccccc;
        padding:20px;
        margin-bottom:40px;
    }
    .description{
        font-family: $font-family-segoe;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.86;
        text-align: justify;
        color: #000000;
    }
}

.block-views-blockall-sponsors-block-1, .block-views-blockorganising-sponsors-block-1, .block-views-blocklatest-sponsor-block-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left:$page-left-padding;
    padding-right:$page-left-padding;

    h2{
            text-align: center;
            font-family: $font-family-segoe;
            font-size: 32px;
            font-weight: 300;
            text-align: center;
            color: $gray-light;
            width:100vw;
            margin-bottom:30px;
            margin-top: 40px;
    }
}

.sponsor-det-list , .sponsor-det-org {
	
	.header {

	  font-family: $font-family-segoe;
	  font-size: 32px;
	  font-weight: 300;
	  text-align: center;
	  color: $gray-light;
	  margin: 20px 0px 20px 0px;
	}

	 .sponsor{
        @extend %sponsor-tile;
	}
}

.block-views-blockall-sponsors-block-1 {
        background-color: $brand-secondary;
}
        
.sponsor-det {
    
    .company-logo { 
        margin-bottom:40px;
        margin-top:25px;
        img{
            margin: auto;
            min-height: 60px;
            width:auto;
        }
    }
    .company-name{
        font-family: $font-family-segoe;
        font-size: 32px;
        font-weight: 300;
        text-align: left;
        color: #666666;
    }
    .description{
	text-align: justify;
        font-family: $font-family-segoe;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.78;
        color: #000000;
    }
    .url{	
	    margin:40px auto;
        text-align:center;
        a{
            @extend %blue-link-button;
        }
    }  
}

.sponsor-det-sessions {
    background-color:#eeeeee;
    overflow:hidden;	
    
    .header{
		
        font-family: $font-family-segoe;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: #666666;
        margin: 20px 0px 20px 0px;	
    }
}

.block-views-blocksponsor-session-block-1 {
	background-color: $brand-secondary;
    padding-left:$page-left-padding;
    padding-right:$page-left-padding;
	h2{
		text-align: center;
		font-family: $font-family-segoe;
  		font-size: 32px;
  		font-weight: 300;
 		text-align: center;
  		color: $gray-light;

	}
}