
<div class="sponsor-det">
  <div class="company-logo">{{ content.field_logo }}</div>
  <div class="company-name">{{ node.label }}</div>
  <div class="description">{{ content.body }}</div>
  <div class="url"> <a href="">{{ content.field_url }}</a></div>
</div>